
.profile-setup-form__content{
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.profile-setup-form__heading{
    text-align: center;
    font-size: 32px;
    margin: 20px;
}

.user-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
}

.user-icon img{
    position: absolute;
}

.profile-setup-form__profile-image{
    display: flex;
    align-items: center;
}
.profile-image__area{
    margin-left: 50px;
}

.profile-image__input{
    display: none;
}

.profile-image__label
{
    padding: 8px 12px 8px 12px;
    border: solid 2px #FF5555;
    border-radius: 8px;
    color: #FF5555;
    font-weight: bold;
}

.form__group-content
{
    margin-top: 40px;
}

.form__group-content--label
{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form__group-content--input
{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 3px
}

.form-btn__update
{
    margin-top: 50px;
}

.form-btn
{
    width: 100%;
    height: 40px;
    border: none;
}
