

.user-icon{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
}



.user-icon img{
    position: absolute;

}

.profile-image__input{
    display: none;
}
