
.profile-page{
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

.user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 50px;

    overflow: hidden;
    position: relative;
}

.user-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    object-fit: cover;
}

.profile-page__information{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.user-name{
    font-size: 26px;
    margin-left: 100px;
}

.profile-page__edit{
    margin-left: auto;
}

.profile-edit-link{
    font-size: 20px;
    color: #FF5555;
    border: 2px solid #FF5555;
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;

    white-space: nowrap;

}


input[type="radio"]{
    display: none;
}

.tab-name{
    color: gray;
    font-size: 20px;
    font-weight: bold;
    padding: 60px 0 5px 130px;
    border-bottom: 1px solid black;
}

.tab-label{
    font-size: 18px;
    cursor: pointer;
}

.tab-label:not(:first-child){
    margin-left: 60px;
}

#tab-sell:checked ~ .tab-name label[for="tab-sell"],
#tab-purchase:checked ~ .tab-name label[for="tab-purchase"],
#tab-trading:checked ~ .tab-name label[for="tab-trading"]
{
    color: red;
}


.tab-panel{
    display: none;
}

#tab-sell:checked~.tab-page #sell-panel{
    display: block;
}

#tab-purchase:checked~.tab-page #purchase-panel{
    display: block;
}

#tab-trading:checked~ .tab-page #trading-panel{
    display: block;
}


.sell-panel, .purchase-panel, .trading-panel{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

    margin: 50px 80px;
}

.item-card{
    text-decoration: none;
}

.item-card img{
    width: 300px;
    height: 300px;
}

.my-item-name {
  font-size: 18px;
}
