html,
body {
  height: 100%;
}

textarea,
input{
  border: 1px solid gray;
  width: 100%;
  border-radius: 4px;
  resize: none;
  padding-left: 10px;
}

.btn{
  background-color: #FF5555;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100vw;
}

.error-message{
    color: #FF5555;
}


/* ヘッダー */
.header {
    width: 100%;
    background-color: black;
}

.header-inner{
    display:grid;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    text-align: center;

    gap: 50px;
    grid-template-columns: auto 2fr auto;

}

.header__logo{
    padding-left: 15px;
}

.header__search{
    min-width: 220px;
    max-width: 500px;
}

.header__search-form{
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.header__search-form--keyword-input{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    padding-left: 30px;
}

input::placeholder{
    color: black;
}

.header-btn{
    min-width: 80px;
    text-align: center;
    white-space: nowrap;
}

.header__nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
}

.header-nav__logout{
    color: white;
    font-size: 18px;
    border: none;
    text-decoration: none;
}

.header-nav__mypage{

    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header-nav__sell{
    padding: 6px 15px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    color: black;
    text-decoration: none;
}


/* ここから上もともとの記述 */

@media(min-width: 768px) and (max-width: 850px){
    .header__logo img{
        width: 25vw;
    }

    .header-inner{
        gap: 20px;
    }

    .header__nav{
        font-size: 15px;
        gap: 5px;
    }

    .header-nav__logout{
        font-size: 14px;
    }
    .header-nav__mypage{
        font-size: 14px;
    }
}

