
.content
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-page
{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    height: 100vh;
}

.aside
{
    background-color: gray;

}

.aside h2{
    text-align: center;
    color: white;
    margin: 10px auto;
}

.chat-page__title{
    display: flex;
    align-items: center;

    /* margin: 20px auto; */
    padding: 5px 30px;

    border-bottom: 1px solid black ;
}
.chat-page__image
{
    width: 100px;
    height: 100px;
}

.chat-page__icon
{
    width: 100%;
    height: 100%;
}

.transaction-completed__button
{
  justify-content: flex-end;
}

.transaction-completed__button-input
{
  color: white;
  background-color: #f57c7c;
  border-radius: 15px;
  border: 1px solid #f57c7c;


  padding: 5px 3px;
  margin-left: auto;
}



.chat-page__item
{
    border-bottom: 1px solid black ;
}

.item-inner
{
    display: flex;
    /* align-items: center; */
    padding: 20px 50px;
}


.item-image
{
    width: 200px;
    height: 200px;
}

.item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-detail
{
    margin-left: 40px;
}

.item-name
{
    margin-top: 40px;
    margin-bottom: 30px;
}
.item-price
{
    font-size: 30px;
}

.chat-page__main
{
    flex: 1;
    overflow-y: auto;  /* メッセージ多い時スクロール */
    padding: 16px;

}


.chat-message {
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;

    background-color:#ccc;
}

.chat-message.me {
    margin-left: auto;
    max-width: 35%;
}

.chat-message.other {
    margin-right: auto;
    max-width: 35%;
}

.chat-page__form
{
    display: flex;
    align-items: center;

}

.chat-page__text
{
    width: 80%;
    height: 40px;
}


.chat-image__input
{
    display: none;
}

.chat-image__label
{
    color: #FF5555;
    background-color: white;
    border: 2px solid #FF5555;
    border-radius: 6px;
    margin: 10px;
    padding: 5px 12px;
    font-weight: bold;
    cursor: pointer;

    white-space: nowrap;
}

.send-icon
{
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transform: translate(50%, 0%);
}

.modal-form__group
{
    background-color: #fdfad1;
    /* padding: 20px; */
    border-radius: 8px;
    border: 1px solid black;
    width: 500px;
}
.modal-title
{
    font-size: 25px;
    border-bottom: 1px solid black;
    padding: 10px 20px;
}

.modal-sub-title
{
    padding: 10px 20px;
    color: gray;

}

.form-rating__input {
    display: none;
}

.form-rating {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;

    gap:10px;
    /* margin: 20px auto; */
}

.form-rating label{
    font-size: 50px;
    color: #ccc;
    cursor: pointer;
}

.form-rating input:checked ~ label{
    color: #ffe448;
}

.modal-submit
{
    text-align: right;
    padding: 10px;
    border-top: 1px solid black;
}

.modal-submit__button
{
    background-color: #f57c7c;
    color: white;
    padding: 5px 10px;

    border-radius: 6px;
}
